body {
  font-family: 'Montserrat', sans-serif;
}
/*<!--Nagłówek-->*/
header {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), 
  url(images/pic1.jpg) no-repeat center center /cover;
}
/*<!--nawigacja-->*/
.logo{
  width: 200px;
  height: 75px;
  margin-top: 1%;
  margin-right: 45%;
}
.nav-menu {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5));
  padding: 30px;
  transition: 0.7s;
}
.menu-item{
  font-size: 13px;
  letter-spacing: 1pv;
  color: #eee;
  transition: color .5s;
}
.nav-active{
  color: lightsteelblue;
}
.menu-item:hover {
  color: lightskyblue;
}
.line1, .line2, .line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all .5s;
}
.line1 .change {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.line2 .change {
  opacity: 0;
}
.line3 .change {
  transform: rotate(45deg) translate(-5px, -6px);
}
.custom-banner {
  padding: 5px 30px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7));
}
/*<!--koniec nawigacji-->*/
/*<!--baner-->*/
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.banner-heading {
  animation-name: anim;
  animation-duration: 2s; 
}
.banner-p {
  animation-name: anim;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-fill-mode: backwards; 
}
@keyframes anim {
  0% {
    transform: translateX(-100px);
    opacity: 0;;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
/*<!-- koniec banera -->*/
/*<!--koniec nagłówka-->*/

/*Misja*/
.mission{
  background: #222;
}
.underline {
  width: 450px;
  border: 3px solid #eee;
  margin: auto;
}
.morespace{
  margin-top: 8%;
}
/*koniec Misja*/



































